
<mat-toolbar style="height: 95px;"><img src="https://i.ibb.co/GsMgSp2/logo1.png" style="margin:auto;height:80px">
    <button class="button button2" onclick="window.location.href='/home'"style="margin:auto;">Home</button></mat-toolbar>
    <div class="card" style="
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 70%;
        width: 70%;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        margin:auto;">
        
    <h1>Upload your XRay file </h1>
    Please choose your x ray file to be uploaded.
    Please upload the file in .JPG, .PNG or .JPEG .
    <br><br>
        <form method="GET">
            <img [src]="url" height="200"> <br/>
          <input type='file'class="button button2"  id="file" name="xray" (change)="onSelectFile($event)">
          <input type="submit" class="button button2" onclick="window.location.href='/home'">
          </form>   
    </div>