<p>profile works!</p>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /></head>

<mat-toolbar style="height: 95px;"><img src="https://i.ibb.co/GsMgSp2/logo1.png" style="margin:auto;height:80px">
    <button class="button button2" style="margin:auto;"onclick="window.location.href='/home'"><a >Hom</a>e</button>
    <button class="button button2" style="margin:auto;"onclick="window.location.href='/home'"><a >Logout</a></button></mat-toolbar>
   
<div class="card-container">
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 400px;
    width: 1000px;
    margin: 0 8px 16px;
    float:left;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    <h1 style="font-size: 40px;">My Profile</h1><br><br><h1 style="font-size: 40px;">Name here</h1><br></div>
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 1000px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    data 1</div>
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 1000px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    data 1</div>
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 1000px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    data 1</div>
    

    







