<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<mat-toolbar style="height: 95px;"><img src="https://i.ibb.co/GsMgSp2/logo1.png" style="margin:auto;height:80px">
    <button class="button button2" (click) = "uploadWindow()" style="margin:auto;">Upload</button>
    <button class="button button2" (click)="logout()"  style="margin:auto;">Logout</button>
</mat-toolbar>
    <div class="card-container"><div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 300px;
    width: 1230px;
    margin: 0 8px 16px;
    float:left;
    padding: 16px;
    display: block ;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    transition: all 0.2s ease-in-out;
    line-height: 20px;"><i class="fa fa-user"  style="font-size: 150px;float: right;;"aria-hidden="true"></i>
    <br><br><h1 style="font-size: 40px;text-align:left;">Welcome to your Profile!</h1>
    <br><br><h1 style="font-size: 40px;">{{ userinfo.username }}</h1><br></div></div>
<div class="card-container">
    
<div class="Users" *ngFor="let xray of pastxraydetails">
    <div class="card-container" >
        <div class="card" style="border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 400px;
        width: 400px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;">
        <img src="{{'http://127.0.0.1:8000' + xray.image }}" height="300" width="300"><br>
            <-- -Your X-Ray - -->   
        </div>

        <div class="card" style="border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 400px;
        width: 400px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;">
        <i class="fa fa-check" style="font-size:36px"></i>

    <h2>Results</h2>
    <table style="border: 1px solid black;width:300px;text-align: center;height:300px">
    <tr>
        <td>
            Atelectasis
        </td>
        <td>
            {{ xray.atelectasis }}
        </td>
    </tr>
    <tr>
        <td>
            Cardiomegaly
        </td>
        <td>
            {{ xray.cardiomegaly }}
        </td>
    </tr>
    <tr>
        <td>
            Consolidation
        </td>
        <td>
            {{ xray.consolidation }}
        </td>
    </tr>
    <tr>
        <td>
            Edema
        </td>
        <td>
            {{ xray.edema }}
        </td>
    </tr>
    <tr>
        <td>
            Pleural Effusion
        </td>
        <td>
            {{ xray.pleural_effusion }}
        </td>
    </tr>   
    </table>
    
        </div>

        <div class="card" style="border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 400px;
        width: 400px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;">
        <img src="{{'http://127.0.0.1:8000' + xray.heatmap_image }}" height="300"><br>
            <-- -Heatmap Localization Of XRay - -->
        </div>
    </div>
</div>






<!--
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 1000px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    data 1</div>
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 1000px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
    data 1</div>
-->