
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /></head>

<mat-toolbar style="height: 95px;"><img src="https://i.ibb.co/GsMgSp2/logo1.png" style="margin:auto;height:80px">
    <button class="button button2" (click)="anon()"style="margin:auto;" >Upload XRay Anonymously</button>
    <button class="button button2" (click)="gohome()" style="margin:auto;" >Home</button></mat-toolbar>

<div class="card-container">
    <div class="card" style="border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 700px;
    width: 600px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;">
        <h1 style="font-size: 40px;">Register</h1><br><br><br>
        <label for="username"><h2>New Username</h2></label>
        <input type="text" [(ngModel)]="register.username" placeholder="Username" required><br>
        <label for="password"><h2>Password</h2></label>
        <input [(ngModel)]="register.password" type="password" placeholder="Password" required><br>
        <label for="password"><h2>Confirm Password</h2></label>
        <input [(ngModel)]="register.password2" type="password" placeholder="Confirm Password" required>

        <button (click)="registerNewUser()"  class="button button2" style="margin:auto;;">Submit</button>
        <h2>Already have an account at PerXeptron ?</h2>
        <button class="button button2" (click)="clickLogin()"style="margin:auto" >Login</button>
    </div>
</div>

